<div style="" id="wrap-splash">

<div class="container">

  <section>
    <div class="hpcontent">

      <div id="content-splash" style="max-width: 60%;
min-height: 200px;" class="splash-outer">
        <a href="http://klavado.com">
          <div class="splash-inner" id="splash-welcome" style="text-decoration: none !important;text-align: center;margin-top:50px">
            <h1 style="color: #090;font-size: 3em;line-height: 1;">
              Welcome to Klavado</h1>
            <h3 style="color: #ffffff;padding-top:10px;font-family: monospace;">
              Free and Extensible micro-forums
            </h3>
          </div>
        </a>

      </div>

    </div>
  </section>


  <section>
    <div class="hpcontent">
      <div  class="splash-outer">
          <div class="splash-inner" >
          <h2 style="color: #ff5f1f;text-align: center;padding-bottom: 20px;">
              How does it work?</h2>
            <h4 style="color: #ffffff;">
            </h4>
            <p>Just create an account, log in and visit any subdomain of klavado.com (for example <a href="http://joy.klavado.com">http://joy.klavado.com</a> ).  If that subdomain has not been claimed by anyone else, you can claim if for yourself by filling in two fields.   </p>
            <p>Voila! You will then have your own forum space.  I call it a micro-forum because it does not have all the functionality of a full-blown forum but for a free and quick solution, its pretty powerful and very customisable.</p>
          </div>
      </div>
    </div>
  </section>


  <section>
    <div class="hpcontent">
      <div  class="splash-outer">
          <div class="splash-inner" >
          <h2 style="color: #ff5f1f;text-align: center;padding-bottom: 20px;">
              Is that it?</h2>
            <p style="font-family: monospace;">
            Yes - if you are happy with the default look and functionality of the forum, you can simply go ahead and invite your friends to join you there. </p>
            <p>The real power of Klavado though is that you can customise the heck out of it.</p>
            <p>What you will see on your default micro-forum is an <a href="http://www.ember-cli.com/">ember-cli</a> app and the full source code for it is available here: <a href="https://github.com/etewiah/discette-template">https://github.com/etewiah/discette-template</a> 
            </p>
            <p>To customise your micro-forum, you need to fork that repository on github and make your changes there.  You will need to have some basic web development skills to be able to do this but it really isn't too hard ;)  More detailed instructions can be found on the github site.</p>
            <p>If you have any feedback, please let me know by starting a conversation here: <a href="http://feedback.klavado.com">here</a></p>
          </div>
      </div>
    </div>
  </section>

  <section>
    <div class="hpcontent">
      <div  class="splash-outer">
          <div class="splash-inner" >
          <h2 style="color: #ff5f1f;text-align: center;padding-bottom: 20px;">
              What if I am not a web developer?</h2>
            <p style="font-family: monospace;">
            Right now, Klavado is most interesting for people who are ready to have a go at customising it.  The plan though is that as it matures, there will be an interesting range of modified templates that anyone can choose from.
            </p>
            <p>If there is some particular change that you really need but cannot do yourself, please contact me.</p>
            <p>To contact me, leave a message here: <a href="http://feedback.klavado.com">here</a></p>
          </div>
      </div>
    </div>
  </section>


  <section>
    <div class="hpcontent">
      <div  class="splash-outer">
          <div class="splash-inner" style="margin-bottom: 50px;">
          <h2 style="color: #ff5f1f;text-align: center;padding-bottom: 20px;">
              What happened to the old Klavado?</h2>
            <p style="">If you visited this website previously, you may have seen a forum which allowed you to have conversations around map.  This is still alive and well.  I just found a more relevant domain name for it.  You can now visit the new version of that concept at <a href="http://chattymaps.com">http://chattymaps.com</a> </p>
          </div>
      </div>
    </div>
  </section>

</div>
</div>