<div style="" id="wrap-splash">

<div class="container">

  <section>
    <div class="hpcontent">

      <div id="content-splash" style="max-width: 60%;
min-height: 200px;" class="splash-outer">
        <a href="http://klavado.com">
          <div class="splash-inner" id="splash-welcome" style="text-decoration: none !important;text-align: center;margin-top:50px">
            <h1 style="color: #090;font-size: 50px;">
              Welcome to Klavado</h1>
            <h3 style="color: #ffffff;padding-top:10px;font-family: monospace;">
              A simple way to try out the Discourse forum platform
            </h3>
          </div>
        </a>

      </div>

    </div>
  </section>

  <section>
    <div class="hpcontent">

      <div  class="splash-outer">
          <div  class="splash-inner"  style="text-decoration: none !important;text-align: center;margin-top:50px">
          <h2 style="color: #ff5f1f;text-align: center;padding-bottom: 20px;">
              What's Discourse anyway?</h2>
            <p style="font-family: monospace;">Discourse is an open source platform for running discussion forums, built for the next decade of the internet. </p>
            <p>Among its many great features are:
            <ul>
              <li>Powerful search</li>
              <li>An intuitive modern design</li>
              <li>Clever moderation features</li>
            </ul>
            </p>
            <p>Find out more about Discourse <a href="http://www.discourse.org/" target="_blank">here</a>. </p>
          </div>
      </div>
    </div>
  </section>

  <section>
    <div class="hpcontent">
      <div  class="splash-outer">
          <div class="splash-inner" >
          <h2 style="color: #ff5f1f;text-align: center;padding-bottom: 20px;">
              Why Klavado?</h2>
            <h4 style="color: #ffffff;">
            </h4>
            <p style="font-family: monospace;">Discourse is a great platform for forums but right now it is not very well known outside the tech community. Klavado is here to change that. </p>
            <p>We make it easy for anyone to set up a forum to talk about any subject they are interested in.  You can experience the key features of Discourse without installing your own instance of it.</p>
            <p>To get started, create an account, log in and visit any subdomain of klavado.com (for example <a href="http://madrid.klavado.com">http://madrid.klavado.com</a> ).  If that subdomain has not been claimed by anyone else, you can claim if for yourself.   </p>
            <p>If you have any feedback, please let me know by starting a conversation <a href="http://feedback.klavado.com">here</a></p>
          </div>
      </div>
    </div>
  </section>

  <section>
    <div class="hpcontent">
      <div  class="splash-outer">
          <div class="splash-inner" style="margin-bottom: 50px;">
          <h2 style="color: #ff5f1f;text-align: center;padding-bottom: 20px;">
              What happened to the old Klavado?</h2>
            <h4 style="color: #ffffff;">
            </h4>
            <p style="">If you visited this website previously, you may have seen a forum which allowed you to have conversations around map.  This is still alive and well.  I just found a more relevant domain name for it.  You can now visit the new version of that concept at <a href="http://chattymaps.com">http://chattymaps.com</a> </p>
          </div>
      </div>
    </div>
  </section>

</div>
</div>