<div class="container">


  <div class="row">
    <button class='btn btn-primary pull-right' style="" {{action 'claimSection' }} title="">
      <i class="fa fa-plus"></i>Welcome to klavado
    </button>
  </div>
  <div class="row">
    <h1 class="maps-list-header" style="">
    Welcome to klavado
  </h1>

  </div>


  {{ outlet }}

</div>
