{{#link-to 'feed.root'  }}
<div>
  <h1  style="padding-top: 6%;margin-left: 15px;font-style: italic;color:#494949;">
  Section</h1>
</div>
{{/link-to}}

{{#unless showSmallLogo }}
{{#unless showMobileLogo}}
<div>
  <h3  style="padding-top: 6%;margin-left: 15px;font-style: italic;color:#494949;">
  Putting conversations on the map</h3>
</div>
{{/unless}}
{{/unless}}
