<!DOCTYPE html>
<html>
<head>
  <title>Sectioned</title>
  <%= stylesheet_link_tag    "sectioned/application", media: "all" %>
  <%= javascript_include_tag "sectioned/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
